.home-title{
  text-align: center;
  margin-top: 10vh;
  min-height: 25vh;
  font-size: xxx-large;
  font-weight: bold;
}

.movie-list{
  position: relative;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  height: 65vh;
  align-items: center;
}

.home-title-range{
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  padding: 5px;
}